*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FFFAF7;
}

.header{
  position: fixed;
  width: 100%;
  background-color: #FFFAF7;
  z-index: 1000;
}

.header-container{
  width: 100%;
  max-width: 1200px;
  height: 100px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 90px;
}

.navbar{
  display: flex;
  align-items: center;
  gap: 40px;
}

.navbar a{
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
  font-weight: 500;
}

.nav:hover{
  text-decoration: underline;
  color: #fcc02a;
  font-weight: 600;
}

nav a{
  color: #6B6661;
  text-decoration: none;
}

nav a:hover{
  color: #FCC02A;
}

nav a.selecionado{
  color: #FCC02A;
  font-weight: bold;
  border-bottom: solid 2px #FCC02A;
}

.conectese a{
  color: white;
  font-weight: 600;
}

.conectese{
  background: linear-gradient(to bottom, rgba(252, 192, 42, 1),rgba(252, 192, 42, 0.5));
  border: none;
  border-radius: 5px;
  padding: 12px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.menu-hamburguer{
  display: none;
  border: none;
  background: none;
  font-size: 2rem;
  cursor: pointer;
  color: #1980E6;
}

.dropdown{
  position: relative;
}

.dropdown-btn{
  background: none;
  border: none;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 500;
  color: black;
}

.dropdown-btn:hover{
  color:#FCC02A;
}

.dropdown-menu{
  display: none;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background: white;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0,0,0,.15);
  min-width: 170px;
  overflow: hidden;
  z-index: 999;
}

.dropdown-menu a{
  display: block;
  padding: 12px 18px;
  color:#333;
  text-decoration:none;
  font-size:.9rem;
}

.dropdown-menu a:hover{
  background:#f5f5f5;
}

.dropdown-menu.ativo{
  display: block;
}

.div-titulos{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding: 80px 20px 20px;
}

.div-titulos h2{
  color: #1980E6;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top:20px;
  line-height: 1.2;
}

.div-titulos img{
  width: 60px;
  margin-top: 20px;
  flex-shrink: 0;
}

.container-estatisticas{
  display: flex;
  justify-content: center;
}

.estatisticasUm{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.card-estatisticas{
  background-color: white;
  border-radius: 30px;
  padding: 22px;
  margin: 2px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.20);
  width: 410px;
  height: 230px;
}

.card-estatisticas h5{
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 25px;
}

.card-estatisticas p{
  font-size: 1rem;
  color: #6B6661;
  margin-bottom: 15px;
}

.card-estatisticas h6{
  font-size: 1.10rem;
  color: #6B6661;
}

.estatisticasDois{
  display: flex;
  gap: 20px;
}

.card-estatisticasMaior{
  background-color: white;
  border-radius: 30px;
  padding: 22px;
  margin-left: 30px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.20);
  width: 340px;
  height: 580;
}

.card-estatisticasMaior h5{
  font-size: 1.25rem;
  margin-bottom: 25px;
}

.card-estatisticasMaior p{
  font-size: 1rem;
  color: #6B6661;
  margin-bottom: 15px;
}

.card-estatisticasMaior h6{
  font-size: 1.10rem;
  color: #6B6661;
}

.section-containerazul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #1980E6;
  margin-top: 50px;
}

.h3{
  font-size: 2.5rem;
  font-weight: 100;
  text-align: center;
  padding-top: 50px;
  color:#ffff;
}

.descricao{
  font-size: 1.25rem;
  color: white;
  padding: 10px;
  text-align: center;
}

.section-botoes{
  display: flex;
  gap: 50px;
  margin: 20px;
  padding-top: 10px;
  padding-bottom: 50px;
}

.button-amarelo{
  width: 200px;
  background-color: #FCC02A;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.button-azul{
  width: 200px;
  background-color: #1980E6;
  color: white;
  border-color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.25rem;
  cursor: pointer;
}

.footer-container{
  display: grid;
  grid-template-columns: 250px 180px 260px 180px;
  justify-content: center;
  align-items: start;
  gap: 80px;
  padding: 50px;
  background-color: #D9D9D9;
  height: 250px;
}

.titulo-footer{
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 1.125rem;
  font-weight: bold;
  margin-bottom: 15px;
}

.maos{
  width: 20px;
}

.texto-footer{
  font-size: 0.875rem;
  color: #6B6661;
  line-height: 22px;
}

.conectando{
  width: 250px;
}

.links{
  display: flex;
  flex-direction: column;
}

.links a{
  text-decoration: none;
  color: #6B6661;
  margin-bottom: 12px;
  font-size: 0.875rem;
}

.links a:hover{
  text-decoration: underline;
}

.contatos{
  display: flex;
  flex-direction: column;
}

.loc, .tel, .email{
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 12px;
}

.loc p, .tel p, .email p{
  color: #6B6661;
  font-size: 0.875rem;
}

.redes-sociais{
  display: flex;
  flex-direction: column;
}

.icones{
  display: flex;
  gap: 12px;
}

.icones img{
  width: 42px;
  cursor: pointer;
}

#userwayAccessibilityIcon, 
div[class*="userway"],
div[id*="userway"],
.uai {
  top: auto !important;
  left: auto !important;
  right: 6px !important;
  bottom: 200px !important; 
  position: fixed !important;
  z-index: 999999 !important;
}

@media(max-width: 850px){
  #userwayAccessibilityIcon, 
  div[class*="userway"],
  div[id*="userway"],

  .uai{
    right: 8px !important;
    bottom: 120px !important; 
    transform: scale(0.9);
    transform-origin: bottom right;
  }
}

@media(max-width: 600px){
  #userwayAccessibilityIcon, 
  div[class*="userway"],
  div[id*="userway"],

  .uai{
    right: 5px !important;
    bottom: 90px !important; 
    transform: scale(0.8);
    transform-origin: bottom right;
  }
}

@media(max-width: 1210px){
  .header-container{
    padding: 0 20px;
  }

  .navbar{
    gap: 18px;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .container-estatisticas{
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .estatisticasUm{
    grid-template-columns: 1fr 1fr;
  }

  .card-estatisticas{
    width: 350px;
    height: auto;
    min-height: 230px;
  }

  .card-estatisticasMaior{
    margin-left: 0;
    width: 730px;
    height: auto;
  }

  .footer-container{
    grid-template-columns: repeat(2, 250px);
  }
}

@media(max-width: 990px){
  .header-container{
    padding: 0 20px;
  }

  .navbar{
    gap: 12;
  }

  .navbar a, .dropdown-btn{
    font-size: 0.7rem;
  }

  .conectese{
    padding: 10px 16px;
  }
}

@media(max-width: 850px){
  .header-container{
    padding: 20px;
    position: relative;
  }

  .menu-hamburguer{
    display: block;
  }

   .navbar{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #FFFAF7;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 30px 0;
  }

  .navbar.ativo{
    display: flex;
  }

  .div-titulos{
    gap: 10px;
    padding: 100px 20px 20px ;
  }

  .div-titulos h2{
    font-size: 1.9rem;
  }

  .div-titulos img{
    width: 45px;
  }

  .container-estatisticas{
    padding: 0 20px;
  }

  .estatisticasUm{
    align-items: center;
  }

  .card-estatisticas{
    width: 100%;
    max-width: 400px;
    height: auto;
  }

  .card-estatisticas p{
    font-size: 0.95rem;
  }

  .card-estatisticasMaior{
    width: 100%;
    max-width: 400px;
    height: auto;
    margin: 0;
  }

  .footer-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    height: auto;
  }

  .titulo-footer{
    justify-content: center;
  }

  .conectando, .links, .contatos, .redes-sociais{
    width: 100%;
    align-items: center;
    text-align: center;
  }  

  .conectando{
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
  }

  .texto-footer{
    text-align: center;
  }

  .loc, .email, .icones{
    justify-content: center;
  }
}

@media(max-width: 600px){
  .logo{
    width: 70px;
  }
  
  .div-titulos{
    gap: 8px;
  }

  .div-titulos h2{
    font-size: 1.5rem;
  }

  .card-estatisticas{
    border-radius: 20px;
    padding: 18px;
  }

  .estatisticasUm{
    grid-template-columns: 1fr;
  }

  .card-estatisticas h5, .card-estatisticasMaior h5{
    font-size: 1.1rem;
  }

  .h3{
    font-size: 1.5rem;
    padding-top: 35px;
  }

  .descricao{
    font-size: 0.95rem;
    padding: 0 20px;
  }
  
  .section-botoes{
    flex-direction: column;
    gap: 30px;
    padding: 0 20px 40px;
  }

  .button-amarelo, .button-azul{
    width: 220px;
    max-width: 100%;
    justify-content: center;
  }

  .footer-container{
    grid-template-columns: 1fr;
    text-align: center;
    gap: 30px;
    padding: 40px 20px;
  }

  .conectando, .links, .contatos, .redes-sociais{
    width: 100%;
    align-items: center;
  }

  .icones{
    justify-content: center;
  }
}