*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FAFAFA;
}

.logo{
  width: 90px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.iconNotificacao{
  width: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

/* CONTEÚDO MAIN */
.segurarMic{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-mic{
  display: flex;
  background-color: #1980E6;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
  width: 1250px;
}

.microfone{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.microfone img{
  background-color: white;
  border-radius: 50px;
  align-items: center;
  padding: 5px;
}

.microfone p{
  color: white;
  font-size: 1.2rem;
}

/* CARD DESCRIÇÃO */
.segurarSolicitacao{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-descricao{
  display: grid;
  grid-template-columns: 1fr 2fr;
  height: 80px;
  cursor: pointer;
  width: 1250px;
  gap: 20px;
}

/* CARD AZUL */
.cardTec{
  display: flex;
  flex-direction: column;
  background-color:  rgba(25,128,230,0.1);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  margin-top: 35px;
}

.cardTec img{
  width: 80px;
}

.cardTec h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardTec p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* DESCRIÇÃO */
.descricao h4{
  display: flex;
  justify-content: flex-end;
  margin-right: 10px;
  margin-top: 35px;
  font-size: 1.3rem;
}

.caixa{
  border: solid 1px #6B6661;
  margin-top: 10px;
  border-radius: 5px;
  height: 160px;
}

.caixa input{
  border: #6B6661;
  padding: 10px;
  background-color: transparent;
  width: 200px;
}
