*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FAFAFA;
}

.logo{
  width: 90px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

/* BARRA LATERAL */
.conteudo{
  justify-content: space-around;
  width: 1000px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.div-nav{
  background-color: white;
  width: 250px;
  height: 1025px;
  border-radius: 10px;
}

.navbar-lateral{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.25rem;
  padding: 20px;
}

.alinhamento{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 280px;
  height: 80px;
  border-radius: 15px;
  text-decoration: none;
  color: #6B6661;
}

.alinhamento p{
  color: #1980E6;
}

.sair{
  align-items: end;
  margin-top: 460px;
  font-size: 1.5rem;
}

.navbar-lateral img{
  width: 40px;
}

.navbar-lateral a{
  text-decoration: none;
  color: #6B6661;
}

.ativo{
  background: rgba(25,128,230,0.1);
  width: 210px;
}

.ativo p{
  color: #1980E6;
}

/* PARTE DE VOLTAR E ESCRITAS - MAIN */
.comecin{
  display: flex;
  gap: 5px;
}

.comecin h3{
  font-size: 2rem;
  font-weight: 500;
}

.comecin p{
  font-size: 1rem;
  color: #808080;
}

/* SUPORTE */
.container-suporte{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-top: 10px;
}

.suporte{
  border: solid 1px rgba(128, 128, 128, 0.5);
  height: 350px;
  width: 500px;
}

.tituloUm h5{
  font-size: 1.3rem;
  padding: 20px;
}

.perguntas p{
  padding: 15px;
  font-size: 1rem;
  border: solid 1px rgba(128, 128, 128, 0.2);
}

.tituloDois{
  padding: 15px;
}

.tituloDois h5{
  font-size: 1.3rem;
}

.tituloDois p{
  font-size: 1rem;
}

.info{
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px 15px;
}

.info h6{
  font-size: 1rem;
  font-weight: 100;
}

.info p{
  font-size: 0.8rem;
}

.atendimento{
  background-color: rgba(25,128,230,0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 10px;
}

.atendimento h6{
  font-size: 1rem;
  color: #1980E6;
}

.atendimento p{
  font-size: 0.8rem;
  color: #6B6661;
}

/* CONTAINER SUPORTE */
.container-suporteDois h3{
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.container-suporteDois p{
  font-size: 1rem;
  color: #808080;
}

.container-chat{
  display: flex;
  gap: 10px;
  width: 1100px;
}

.contato{
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
  border-radius: 10px;
  padding: 15px;
  height: 515px;
  width: 265px;
}

.contato h4{
  margin-bottom: 10px;
}

.contatoChat{
  display: flex;
  align-items: center;
  background-color: rgba(25,128,230,0.1);
  border-radius: 10px;
  border: solid 1px rgba(0, 0, 0, 0.1);
  width: 230px;
  padding: 5px;
}

.contatoChat p{
  font-size: 0.7rem;
  font-weight: 600;
}

.cor{
  color: rgba(21, 136, 65, 0.5);
}

.contatoChat img{
  width: 50px;
}

.chat{
  display: flex;
  flex-direction: column;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-top: 19px;
  border-radius: 10px;
  padding: 10px;
  width: 735px;
  gap: 10px;
  height: 516px;
}

.esquerda{
  background-color: rgba(25,128,230,0.1);
  align-self: flex-start;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
}

.esquerda p{
  font-size: 0.9rem;
}

.direita{
  background-color: rgba(0, 0, 0,0.05);
  align-self: flex-end;
  border-radius: 10px;
  padding: 10px;
  width: 320px;
}

.direita p{
  font-size: 0.9rem;
}

hr{
  margin-top: 190px;
}

.campo-mensagem{
  display: flex;
  align-items: center;
  gap: 5px;
}

.campo-mensagem input{
  background-color: white;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
}

input{
  font-size: 0.7rem;
  width: 640px;
  height: 40px;
}

input::placeholder{
  font-size: 0.9rem;
}

.mic img{
  width: 30px;
}

.enviar img{
  width: 25px;
}

.campo-mensagem button{
  border: none;
  background: none;
  cursor: pointer;
}


