*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FAFAFA;
}

.logo{
  width: 90px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

#linkPerfil{
  text-decoration: none;
  color: #6B6661;
}

/* BARRA LATERAL */
.conteudo{
  width: 1000px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.div-nav{
  background-color: white;
  width: 250px;
  height: 1080px;
  border-radius: 10px;
}

.navbar-lateral{
  display: flex;
  flex-direction: column;
  height: 100%;
  gap: 10px;
  font-size: 1.25rem;
  padding: 20px;
}

.alinhamento{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  height: 80px;
  border-radius: 15px;
  text-decoration: none;
  color: #6B6661;
}

.alinhamento:hover{
  transform: translateY(-2px);
  transition: 0.8s;
  cursor: pointer;
}

.alinhamento p{
  color: #1980E6;
}

.sair{
  align-items: end;
  margin-top: auto;
  font-size: 1.5rem;
}

.navbar-lateral img{
  width: 40px;
}

.navbar-lateral a{
  text-decoration: none;
  color: #6B6661;
}

.ativo{
  background: rgba(25,128,230,0.1);
}

.ativo p{
  color: #1980E6;
}

/* CONTEÚDO */
.ola h2{
  font-size: 2.25rem;
}

.ola p{
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.container-mic{
  display: flex;
  background-color: #1980E6;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
}

.microfone{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.microfone img{
  background-color: white;
  border-radius: 50px;
  align-items: center;
  padding: 5px;
}

.microfone p{
  color: white;
  font-size: 1rem;
}

.subtextos{
  font-size: 1.25rem;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 100;
}

.container-cards{
  display: flex;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  text-align: center;
  gap: 20px;
}

.cards a{
  text-decoration: none;
  color: inherit;
  display: block;
  transition: 0.3s;
}

/* CARD AZUL */
.cardTec{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 10px;
  padding: 25px;
}

.cardTec img{
  width: 80px;
}

.cardTec h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardTec p{
  font-size: 0.9rem;
  color: #6B6661;
}

.cards a:hover{
  transform: translateY(-3px);
  transition: 0.3s;
  cursor: pointer;
}

/* CARD AMARELO */
.cardCompa{
  background-color:  rgba(252,192,42,0.1);
  border-radius: 10px;
  padding: 25px;
}

.cardCompa img{
  width: 80px;
}

.cardCompa h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardCompa p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* CARD VERMELHO */
.cardSau{
  background-color:  rgba(227,2,44,0.1);
  border-radius: 10px;
  padding: 25px;
}

.cardSau img{
  width: 80px;
}

.cardSau h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardSau p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* CARD ROXO */
.cardCom{
  background-color: rgba(99,38,120,0.1);
  border-radius: 10px;
  padding: 25px;
}

.cardCom img{
  width: 80px;
}

.cardCom h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardCom p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* CARD VERDE */
.cardTra{
  background-color:  rgba(21,136,65,0.1);
  border-radius: 10px;
  padding: 25px;
}

.cardTra img{
  width: 80px;
}

.cardTra h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardTra p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* CARD CINZA */
.cardOut{
  background-color:  rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 25px;
  height: 175px;
}

.cardOut img{
  width: 80px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.cardOut h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardOut p{
  font-size: 0.9rem;
  color: #6B6661;
}

/* SOLICITAÇÕES */
/* COMPANHIA */
.container-companhia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.companhia{
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.textoSolicitacao h6{
  font-size: 1.25rem;
  font-weight: 100;
}

.textoSolicitacao p{
  font-size: 1rem;
}

.icon{
  width: 30px;
}

.iconCompanhia{
  background-color:  rgba(252,192,42,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoCompanhia{
  background-color:  rgba(252,192,42,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoCompanhia p{
  color: #F5C345;
  font-size: 1rem;
}

/* TECNOLOGIA */
.container-tecnologia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.tecnologia{
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconTecnologia{
  background-color:  rgba(25,128,230,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoTecnologia{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoTecnologia p{
  color: #1980E6;
  font-size: 1rem;
}

/* SAÚDE */
.container-saude{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.saude{
  display: flex;
  align-items: center;
  gap: 10px;
}

.iconSaude{
  background-color:  rgba(227,2,44,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoSaude{
  background-color:  rgba(227,2,44,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoSaude p{
  color: #E3022C;
  font-size: 1rem;
}

/* QUADRO AZUL AJUDA */
.quadroAzulAjuda{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.quadroAzulAjuda a{
  text-decoration: none;
}

.ajuda-container{
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.escritaAjuda{
  color: #1980E6;
}

.escritaAjuda h3{
  font-size: 1.25rem;
}

.escritaAjuda p{
  font-size: 1rem;
}

/* POP UP SAIR*/
/* Fundo escuro */
.popup-sair{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Caixa */
.popup-conteudo-sair{
  background: white;
  width: 380px;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

/* Título */
.popup-conteudo-sair h2{
  color:#1980E6;
  margin-bottom:15px;
}

/* Texto */
.popup-conteudo-sair p{
  color:#666;
  margin-bottom:25px;
}

/* Botões */
.botoes-sair{
  display:flex;
  justify-content:center;
  gap:15px;
}

.botoes-sair button{
  padding:10px 22px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:15px;
}

#cancelarSair{
  background:#ddd;
}

#confirmarSair{
  background:#E3022C;
  color:white;
}

/* FUNDO ESCURO - MICROFONE */
.popup{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* QUADRO - MICROFONE */
.popup-conteudo{
  background: white;
  width: 420px;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

/* TÍTULO - MICROFONE */
.popup h2{
  color:#1980E6;
  margin-bottom:15px;
}

/* TEXTO - MICROFONE */
#status{
  margin:20px 0;
  color:#666;
  font-size:18px;
}

#textoReconhecido{
  margin-bottom:25px;
  font-size:20px;
  color:#1980E6;
  min-height:30px;
}

/* BOTÕES - MICROFONE */
.botoesPopup{
  display:flex;
  justify-content:center;
  gap:15px;
}

.botoesPopup button{
  padding:10px 25px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

#btnIniciar{
  background:#1980E6;
  color:white;
}

#btnFechar{
  background:#ddd;
}