*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FAFAFA;
}

.logo{
  width: 90px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.iconNotificacao{
  width: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

/* CONTEÚDO MAIN */
.segurarMic{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container-mic{
  display: flex;
  background-color: #1980E6;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
  width: 1250px;
}

.microfone{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.microfone img{
  background-color: white;
  border-radius: 50px;
  align-items: center;
  padding: 5px;
}

.microfone p{
  color: white;
  font-size: 1.2rem;
}

/* CARD DESCRIÇÃO */
.segurarSolicitacao{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.card-descricao{
  display: grid;
  grid-template-columns: 1fr 2fr;
  cursor: pointer;
  width: 1250px;
  margin-bottom: 40px;
  gap: 20px;
}

/* CARD AZUL */
.cardSolicitacao{
  display: flex;
  flex-direction: column;
  background-color:  rgba(25,128,230,0.1);
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  margin-top: 35px;
}

.cardSolicitacao img{
  width: 80px;
}

.cardSolicitacao h5{
  font-size: 1.5rem;
  font-weight: 100;
}

.cardSolicitacao p{
  font-size: 0.9rem;
  color: #6B6661;
}

.trocarSolicitacao{
  background: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: auto;
  display: block;
  margin-bottom: 10px;
}

.trocarSolicitacao:hover{
  color: #1980E6;
}

/* DESCRIÇÃO */
.caixa{
  border: solid 1px #6B6661;
  padding: 10px;
  border-radius: 5px;
  height: 160px;
}

.caixa textarea{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
  background: transparent;
  font-size: 1rem;
  font-family: 'Manrope', sans-serif;
  overflow-y: auto;
}

/* INFORMAÇÕES CONTAINER (eu nao sei pq ta sobrepondo no outro */
.segurarDados{
  display: flex;
  justify-content: center;
}

.informacoes-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 1250px;
  gap: 20px;
}

.informacoes{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.segurarInfo{
  display: flex;
  gap: 10px;
}

.segurarInfo input{
  padding-inline: 5px 0px;
}

.label{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label label{
  font-size: 1.2rem;
}

.inputs input{
  padding: 3px;
  border-color: rgba(0,0,0,0.4);
  border-radius: 4px;
}

.inputs{
  display: flex;
  flex-direction: column;
  gap: 6px;
}

#nome{
  width: 400px;
}

#idade{
  width: 123px;
}

#data, #hora{
  color: #6B6661;
}

#bairro{
  width: 250px;
}

#cep{
  width: 150px;
}

#numero{
  width: 95px;
}

#complemento{
  width: 150px;
}

.botoes{
  justify-items: end;
}

#enviar{
  background-color: rgba(21, 136, 65, 0.1);
  padding: 5px;
  width: 160px;
  border-radius: 10px;
  color: #158841;
  border-color: transparent;
  font-size: 1.2rem;
  cursor: pointer;
  margin-bottom: 10px;
}

#cancelar{
  background-color: transparent;
  padding: 5px;
  width: 230px;
  border-radius: 10px;
  color: #E3022C;
  border-color: #E3022C;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 10px;
}

/* QUADRO AZUL AJUDA */
.segurarQuadroAzul{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.quadroAzulAjuda{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 1250px;
}

.quadroAzulAjuda a{
  text-decoration: none;
}

.ajuda-container{
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.escritaAjuda{
  color: #1980E6;
}

.escritaAjuda h3{
  font-size: 1.25rem;
}

.escritaAjuda p{
  font-size: 1rem;
}

/* FUNDO ESCURO - MICROFONE */
.popup{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* QUADRO - MICROFONE */
.popup-conteudo{
  background: white;
  width: 420px;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

/* TÍTULO - MICROFONE */
.popup h2{
  color:#1980E6;
  margin-bottom:15px;
}

/* TEXTO - MICROFONE */
#status{
  margin:20px 0;
  color:#666;
  font-size:18px;
}

#textoReconhecido{
  margin-bottom:25px;
  font-size:20px;
  color:#1980E6;
  min-height:30px;
}

/* BOTÕES - MICROFONE */
.botoesPopup{
  display:flex;
  justify-content:center;
  gap:15px;
}

.botoesPopup button{
  padding:10px 25px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

#btnIniciar{
  background:#1980E6;
  color:white;
}

#btnFechar{
  background:#ddd;
}
