*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #FAFAFA;
}

.logo{
  width: 90px;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1280px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

#linkPerfil{
  text-decoration: none;
  color: #6B6661;
}

/* BARRA LATERAL */
.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.div-nav{
  background-color: white;
  width: 250px;
  min-height: 100vh;
  border-radius: 10px;
}

.navbar-lateral{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.25rem;
  padding: 20px;
}

.alinhamento{
  display: flex;
  align-items: center;
  gap: 10px;
  width: 280px;
  height: 80px;
  border-radius: 15px;
  text-decoration: none;
  color: #6B6661;
}

.alinhamento:hover{
  transform: translateY(-2px);
  transition: 0.8s;
  cursor: pointer;
}

.alinhamento p{
  color: #1980E6;
}

.navbar-lateral{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.sair{
  align-items: end;
  margin-top: 410px;
  font-size: 1.5rem;
}

.navbar-lateral img{
  width: 40px;
}

.navbar-lateral a{
  text-decoration: none;
  color: #6B6661;
}

.ativo{
  background: rgba(25,128,230,0.1);
  width: 210px;
}

.ativo p{
  color: #1980E6;
}

/* MAIN */
.comecin{
  display: flex;
  gap: 5px;
}

.comecin h3{
  font-size: 2rem;
  font-weight: 500;
}

.comecin p{
  font-size: 1rem;
  color: #808080;
}

/* SECTION */
.opcoes-container{
  display: flex;
  margin-top: 20px;
}

.aba{
  background-color: transparent;
  border: none;
  padding: 10px 20px;
  color: #6B6661;
  cursor: pointer;
  font-size: 1.1rem;
}

.aba.selecionado{
  color: #1980E6;
  font-weight: bold;
  border-bottom: solid 1px #1980E6;
  font-weight: bold;
}

/* SOLICITAÇÕES */
/* COMPANHIA */
.segurarSolicitações{
  margin-top: 15px;
  width: 1000px;
}

.container-companhia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #6B6661;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.companhia{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.textoSolicitacao h6{
  font-size: 1.25rem;
  font-weight: 100;
}

.textoSolicitacao h5{
  font-size: 1rem;
  font-weight: 100;
  color: #6B6661;
}

.textoSolicitacao p{
  font-size: 0.9rem;
  color: #6B6661;
}

.p{
    margin-top: 15px;
}

.icon{
  width: 40px;
}

.iconCompanhia{
  background-color:  rgba(252,192,42,0.1);
  padding: 10px;
  border-radius: 50px;
}

.segurar-botoes-companhia{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.segurar-botoes-companhia button{
  background-color: rgba(21, 136, 65, 0.1);
  color: #158841;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.situacaoCompanhia{
  background-color:  rgba(128,128,128,0.1);
  border-radius: 10px;
  width: 130px;
  padding: 10px;
  margin-bottom: 10px;
  color: #6B6661;
  text-align: center;
}

/* TECNOLOGIA */
.container-tecnologia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #6B6661;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.tecnologia{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.iconTecnologia{
  background-color:  rgba(25,128,230,0.1);
  padding: 10px;
  border-radius: 50px;
}

.segurar-botoes-tecnologia{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.situacaoTecnologia{
  background-color:  rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  width: 110px;
  padding: 10px;
  margin-bottom: 10px;
  color: #6B6661;
  text-align: center;
}

.segurar-botoes-tecnologia button{
  background-color: rgba(227, 2, 44, 0.1);
  color: #E3022C;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* SAUDE */
.container-saude{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #6B6661;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.saude{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.iconSaude{
  background-color:  rgba(227, 2, 44, 0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoSaude{
  background-color:  rgba(21,136,65,0.1);
  border-radius: 10px;
  width: 110px;
  padding: 10px;
  margin-bottom: 10px;
  color: #158841;
  text-align: center;
}

.segurar-botoes-saude button{
  background-color: rgba(227, 2, 44, 0.1);
  color: #E3022C;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.lado-direito{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
}

.alinhar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.avaliacao{
  display: flex;
  flex-direction: row-reverse;
}

.avaliacao input{
  display: none;
}

.avaliacao label{
  font-size: 2rem;
  color: #ccc;
  cursor: pointer;
}

.avaliacao label:hover,
.avaliacao label:hover ~ label,
.avaliacao input:checked ~ label{
  color: #FFC107;
}

/* COMPRAS */
.container-compras{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #6B6661;
  padding: 30px 10px;
  margin-bottom: 20px;
}

.compras{
  display: flex;
  align-items: center;
  gap: 10px; 
}

.iconCompras{
  background-color:  rgba(128,128,128,0.1);
  padding: 10px;
  border-radius: 50px;
}

.segurar-botoes-compras{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.situacaoCompras{
  background-color:  rgba(128, 128, 128, 0.1);
  border-radius: 10px;
  width: 110px;
  padding: 10px;
  margin-bottom: 10px;
  color: #6B6661;
  text-align: center;
}

.segurar-botoes-compras button{
  background-color: rgba(227, 2, 44, 0.1);
  color: #E3022C;
  padding: 10px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

/* POP UP SAIR*/
/* Fundo escuro */
.popup-sair{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Caixa */
.popup-conteudo-sair{
  background: white;
  width: 380px;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

/* Título */
.popup-conteudo-sair h2{
  color:#1980E6;
  margin-bottom:15px;
}

/* Texto */
.popup-conteudo-sair p{
  color:#666;
  margin-bottom:25px;
}

/* Botões */
.botoes-sair{
  display:flex;
  justify-content:center;
  gap:15px;
}

.botoes-sair button{
  padding:10px 22px;
  border:none;
  border-radius:8px;
  cursor:pointer;
  font-size:15px;
}

#cancelarSair{
  background:#ddd;
}

#confirmarSair{
  background:#E3022C;
  color:white;
}

/* FUNDO ESCURO - MICROFONE */
.popup{
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,.45);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* QUADRO - MICROFONE */
.popup-conteudo{
  background: white;
  width: 420px;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
}

/* TÍTULO - MICROFONE */
.popup h2{
  color:#1980E6;
  margin-bottom:15px;
}

/* TEXTO - MICROFONE */
#status{
  margin:20px 0;
  color:#666;
  font-size:18px;
}

#textoReconhecido{
  margin-bottom:25px;
  font-size:20px;
  color:#1980E6;
  min-height:30px;
}

/* QUADRO AZUL AJUDA */
.quadroAzulAjuda{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 20px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.quadroAzulAjuda a{
  text-decoration: none;
}

.ajuda-container{
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.escritaAjuda{
  color: #1980E6;
}

.escritaAjuda h3{
  font-size: 1.25rem;
}

.escritaAjuda p{
  font-size: 1rem;
}

/* BOTÕES - MICROFONE */
.botoesPopup{
  display:flex;
  justify-content:center;
  gap:15px;
}

.botoesPopup button{
  padding:10px 25px;
  border:none;
  border-radius:8px;
  cursor:pointer;
}

#btnIniciar{
  background:#1980E6;
  color:white;
}

#btnFechar{
  background:#ddd;
}
