*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
}

body{
  background: #FAFAFA;
}

/* HEADER */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #FAFAFA;
  z-index: 99;
  display: flex;
  justify-content: center;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 850px;
}

.logo{
  width: 90px;
}

.perfil-container{
  display: flex;
  gap: 5px;
  align-items: center;
}

.perfil-container img{
  width: 70px;
  height: 70px;
  border-radius: 50px;
  margin: 10px;
}

.perfil-container h4{
  font-size: 1.125rem;
  font-weight: 100;
}

.perfil-container p{
  font-size: 1.125rem;
  color: #6B6661;
  font-weight: 100;
}

/* BARRA LATERAL */
.conteudo{
  justify-content: space-around;
  width: 550px;
}

.container{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  width: 100%;
}

.div-nav{
  background-color: white;
  width: 250px;
  height: 1024px;
  border-radius: 10px;
  margin-top: 100px;
}

.navbar-lateral{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 1.25rem;
  padding: 20px;
}

.alinhamento{
  display: flex;
  align-items: center;
  gap: 20px;
  width: 280px;
  height: 80px;
  border-radius: 15px;
  text-decoration: none;
  color: #6B6661;
}

.alinhamento p{
  color: #1980E6;
}

.sair{
  align-items: end;
  margin-top: 450px;
  font-size: 1.5rem;
}

.navbar-lateral img{
  width: 40px;
}

.navbar-lateral a{
  text-decoration: none;
  color: #6B6661;
}

.ativo{
  background: rgba(25,128,230,0.1);
  width: 210px;
}

.ativo p{
  color: #1980E6;
}

/* CONTEÚDO */
.ola h2{
  font-size: 2.25rem;
  margin-top: 100px;
}

.ola p{
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.container-mic{
  display: flex;
  background-color: #1980E6;
  height: 80px;
  border-radius: 20px;
  cursor: pointer;
}

.microfone{
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 15px;
}

.microfone img{
  background-color: white;
  border-radius: 50px;
  align-items: center;
  padding: 5px;
}

.microfone p{
  color: white;
  font-size: 1rem;
}

.subtextos{
  font-size: 1.25rem;
  margin-top: 25px;
  margin-bottom: 10px;
  font-weight: 100;
}

.container-cards{
  display: flex;
}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  gap: 10px;
}

/* CARD AZUL */
.cardTec{
  background-color:  rgba(25,128,230,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardTec img{
  width: 60px;
}

.cardTec h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardTec p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardTec:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* CARD AMARELO */
.cardCompa{
  background-color:  rgba(245,195,69,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardCompa img{
  width: 60px;
}

.cardCompa h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardCompa p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardCompa:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* CARD VERMELHO */
.cardSau{
  background-color:  rgba(227,2,44,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardSau img{
  width: 60px;
}

.cardSau h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardSau p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardSau:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* CARD ROXO */
.cardCom{
  background-color:  rgba(89,0,140,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardCom img{
  width: 60px;
}

.cardCom h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardCom p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardCom:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* CARD VERDE */
.cardTra{
  background-color:  rgba(21,136,65,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardTra img{
  width: 60px;
}

.cardTra h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardTra p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardTra:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* CARD CINZA */
.cardOut{
  background-color:  rgba(0,0,0,0.1);
  justify-content: center;
  border-radius: 10px;
  padding: 20px;
}

.cardOut img{
  width: 60px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.cardOut h5{
  font-size: 1.25rem;
  font-weight: 100;
}

.cardOut p{
  font-size: 0.75rem;
  color: #6B6661;
}

.cardOut:hover{
  transform: translateY(-3px);
  transition: 0.8s;
  cursor: pointer;
}

/* SOLICITAÇÕES */
/* COMPANHIA */
.container-companhia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.companhia{
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.textoSolicitacao h6{
  font-size: 1.25rem;
  font-weight: 100;
}

.textoSolicitacao p{
  font-size: 1rem;
}

.icon{
  width: 30px;
}

.iconCompanhia{
  background-color:  rgba(245,195,69,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoCompanhia{
  background-color:  rgba(245,195,69,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoCompanhia p{
  color: #F5C345;
  font-size: 1rem;
}

/* TECNOLOGIA */
.container-tecnologia{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.tecnologia{
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.iconTecnologia{
  background-color:  rgba(25,128,230,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoTecnologia{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoTecnologia p{
  color: #1980E6;
  font-size: 1rem;
}

/* SAÚDE */
.container-saude{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #1980E6;
  padding: 10px;
}

.saude{
  display: flex;
  align-items: center;
  gap: 10px;
  
}

.iconSaude{
  background-color:  rgba(227,2,44,0.1);
  padding: 10px;
  border-radius: 50px;
}

.situacaoSaude{
  background-color:  rgba(227,2,44,0.1);
  border-radius: 10px;
  padding: 10px;
}

.situacaoSaude p{
  color: #E3022C;
  font-size: 1rem;
}

/* QUADRO AZUL AJUDA */
.quadroAzulAjuda{
  background-color:  rgba(25,128,230,0.1);
  border-radius: 20px;
  margin-top: 20px;
}

.quadroAzulAjuda a{
  text-decoration: none;
}

.ajuda-container{
  display: flex;
  align-items: center;
  padding: 25px;
  gap: 10px;
}

.escritaAjuda{
  color: #1980E6;
}

.escritaAjuda h3{
  font-size: 1.25rem;
}

.escritaAjuda p{
  font-size: 1rem;
}